fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
python-dotenv
passlib
argon2-cffi
pydantic[email]
python-jose[cryptography]
python-multipart
aiofiles
Pillow
sqladmin==0.27.2
wtforms==3.2.2
itsdangerous
httpx
slowapi
