.h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0;
}

.h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0;
}

.h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
}

.body {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
}

.small {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  margin: 0;
}
