.loginWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
  padding: 24px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 340px;

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
