.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #1129bd;
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  font-family: Inter;
  font-weight: 500;
  padding: 10px;
  min-height: 39px;
}

.button:hover {
  background-color: #0d1f8b;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #cccccc;
}

.link {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  min-height: auto;
}

.link:hover {
  background-color: transparent;
}

.linkBlue {
  color: #1129bd;
}

.linkGray {
  color: #8a8a8a;
}