.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #B8BBC2;
  font-size: 12px;
  line-height: 100%;
  cursor: text;
  font-family: Inter;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #E7EAF8;
  height: 35px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #1129BD;
}

.input:hover {
  border-color: #1129BD;
}