.toggle {
  display: inline-flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  color: #1129BD;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}
