.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.text {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  flex: 1;
}

@media (min-width: 850px) {
  .banner {
    padding: 30px;
  }
}
